body /*body acceuil*/
{
    background-image: url(images_acceuil/fond_acceuil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/*footer*/

footer
{
    margin-top: 20vh;
    border-top: 2px white solid;
}

footer > div
{
    display: flex;
    justify-content: space-around;
    padding: 3vh;
}

footer > .unselectable
{
    cursor: no-drop;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.help > a, .help > p
{
    display: flex;
    align-items: center;
    color: white;
    font-family: space Mono;
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer;
}

.help > a:hover, .help > p:hover
{
    color: antiquewhite;
}

/*footer END*/

article, p
{
    font-family: monospace;
    font-size: 1.3em;
}

/*menu*/

.banniere
{
    font-size: 1.1em;
    padding: 4%;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
    background-color: black;
    background-attachment: fixed;
    border-bottom: rgb(79, 12, 110) solid 3px;
    border-radius: 10px;

    /*permet de s'adapter a la taille de l'element*/
    background-size: cover;
}

#nav {
	padding: 0; margin: 0;
    text-align: center;
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display:inline-block;
	margin: 0 3vw;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

/*menu END*/

/*hover*/

#nav a:hover
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

/*menu underline*/

#nav > .acceuil_menu > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

#nav > .histoire_menu > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

#nav > .acceuil_enjeux_sc > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

#nav > .acceuil_enjeux_dip > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

#nav > .acceuil_images > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

#nav > .acceuil_avenir > a
{
    text-decoration: underline;
    color: rgb(204, 191, 191);
}

/*menu underline END*/

/*page ISS*/

.ISS_title, .title
{
    font-family: Indie Flower;
    font-size: 4em;
    text-align: center;
    color: rgb(210, 229, 247);
}

.intro_ISS
{
    margin-top: 8vh;
    display: flex;
}

/*image*/

.intro_ISS > img
{
    width: 40%;
    height: 40%;
    cursor: help;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .intro_ISS > img
    {
        width: 60%;
        height: 60%;
    }
}

/*image END*/
/*text ISS intro*/

.description_iss
{
    font-family: Space Mono;
    font-size: 1.3em;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .description_iss
    {
        font-size: 1em;
    }
}
/*text ISS intro END*/

/*cout*/

.article_et_logo
{
    display: flex;
    justify-content: space-around;
}

.cout_article
{
    text-align: center;
    font-family: Space Mono;
    font-size: 1.3em;
    border: 3px white solid;
    border-radius: 15px;
    padding: 2vh 2vw;
    width: 60%;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .cout_article
    {
        font-size: 1em;
    }
}

.logo_ISS
{
    width: 20%;
    height: 20%;
    cursor: help;
}

/*cout END*/
/*Habitants*/

.habitants_iss
{
    display: flex;
    justify-content: space-around;
}

.habitants_iss > img
{
    cursor: help;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .habitants_iss > img
    {
        width: 60%;
    }
}

.Old
{
    margin-top: 5vh;
    text-align: center;
}

.old_habitant
{
    width: 35vw;
    height: 100vh;
    border: 1px white solid;
}

.Old > p
{
    margin: auto;
    width: 50%;
    font-size: 2em;
}

.lien_wiki
{
    color: white;
}

.lien_wiki:hover
{
    color: red;
    font-weight: 800;
}

/*Histoire Page*/

.intro_histoire
{
    margin: auto;
    padding: 1.5vh 1.5vw;
    text-align: center;
    font-size: 1.35em;
    width: 75%;
    border: 4px white double;
    border-radius: 10px;
}

/*Boxes*/

.histoire_boxes1
{
    margin-top: 6vh;
    display: flex;
    justify-content: space-between;
}

.boxes
{
    border: 2px white solid;
    border-radius: 30px;
    padding: 2vh 2vw;
    width: 25%;
}

.boxes > article
{
    text-align: center;
}

.boxes > h2
{
    text-align: center;
    text-decoration: underline;
    font-family: space Mono;
    font-size: 1.5em;
    color: rgb(187, 182, 255);
}

.histoire_boxes2
{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

.box_4 > article
{
    align-items: auto;
}

/*Boxes END*/

.chronologie
{
    display: flex;
    justify-content: space-between;
}

.image_unity
{
    cursor: help;
    width: 35vw;
    height: 60vh;
    border-radius: 10px;
}

.ul_chronologie
{
    font-family: monospace;
    font-size: 1.3em;
    list-style-type: "🌑";
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .ul_chronologie
    {
        width: 90%;
    }
}

/*enjeux scientifiques + enjeux diplomatiques*/

.intro_enjeux
{
    margin: auto;
    margin-top: 5vh;
    padding: 2vh 2vw;
    text-align: center;
    font-size: 1.35em;
    width: 60%;
    border: 4px white double;
    border-radius: 10px;
}

.science_img
{
    display: block;
    margin: auto;
    width: 15vw;
    height: 30vh;
}

.diplomatie_img
{
    cursor: help;
    display: block;
    margin: auto;
    width: 15vw;
    height: 30vh;
}

/*boxes enjeux*/

.enjeux_boxes
{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxes_enjeux
{
    margin-top: 20px;
    width: 27%;
    height: 50vh;
}

.boxes_enjeux_dip > div
{
    height: 35vh;
}

.boxes_enjeux > article
{
    text-align: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .boxes_enjeux
    {
        height: 75vh;
    }
}

/*boxes enjeux END*/

.enjeux
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enjeux_article
{
    text-align: center;
    display: flex;
    align-items: center;
    width: 60%;
    height: 70vh;
    padding: 2vh 2vw;
    border: 4px white double;
}

.enjeu_iss_IMG
{
    width: 60vw;
    height: 80vh;
}

.conclu_enjeu_dip
{
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 1.7em;
    border: 4px white double;
    padding: 2vh 2vw;
    width: 60%;
}

.conclu_enjeu_dip > h2
{
    text-decoration: underline;
    font-style: italic;
    font-family: space Mono;
}

/*Images page*/

.image_banniere
{
    margin-left: -0.5em;
    border-bottom: 2px white solid;
    width: 101.5%;
}

.first_img
{
    margin-top: 5vh;
    display: flex;
    cursor: help;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_img
{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first_img > img, .second_img > img
{
    margin-top: 30px;
    border: 2px white solid;
    border-radius: 15px;
}

.txt_thomas
{
    text-align: center;
}

.img_iss2
{
    width: 60%;
    cursor: help;
}

.end_image_epou
{
    margin-top: 5vh;
}

.img_iss1
{
    cursor: default;
}

/*container*/

.container {
    display: inline-block;
    position: relative;
}

.container > img
{
    margin-left: -0.5em;
    width: 101%;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
}

.container .text_background {
    background: rgba(0, 0, 0, 0.8);
    padding: 1vw 1vh;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    color: white;
    width: 70%;
}

/*container END*/

/*Avenir Page*/

.paragraphes_avenir
{
    margin: auto;
    border: 5px white groove;
    padding: 2vh 2vw;
    width: 65%;
    font-size: 1.3em;
}

.paragraphe > b
{
    text-decoration: underline;
    font-style: italic;
    font-size: 1.4em;
}

.lien_avenir
{
    color: white;
    text-decoration: underline;
    cursor: help;
}

.lien_avenir:hover
{
    color: red;
    font-weight: 400;
}

.paragraphes2_avenir
{
    margin: auto;
    margin-top: 20vh;
    font-size: 1.3em;
    border: 5px white groove;
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-around;
}

.paragraphes2_avenir > div > video
{
    border-radius: 10px;
    border: 0.5px white groove;
}